In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
data = pd.read_csv('./dataset/PimaIndiansDiabetes.csv')

In [3]:
data

,Pregnancy Count,Blood Glucose,Diastolic BP,Triceps Skin Fold Thickness,Serum Insulin,BMI,Diabetes Pedigree Function,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
data['Class'].value_counts()[0]

500

In [5]:
data_subset = data.loc[:,['Blood Glucose', 'BMI', 'Class']]
X = data_subset.loc[:, ['Blood Glucose', 'BMI']]
y = data_subset.loc[:, 'Class']

In [6]:
class DummyClassifier:
    def __init__(self):
        self.X = X
        self.target = target
        
    def max_labels(self, X,target='Class'):
        X_label = X[target]
        max_label = X_label.value_counts()[0]
        
        return max_label
    def predict(self, X):
        pred_y = X['Class'].values()
        
        return pred_y