In [10]:
import pandas as pd
from pandas import read_csv
import numpy as np

In [17]:
korea_dust = read_csv('./data/korea_dust.csv', encoding='CP949')
incheon_dust = read_csv('./data/incheon_dust.csv')
kangil_dust = read_csv('./data/kangil_dust.csv')
kangdong_dust = read_csv('./data/kangdong_dust.csv')

wether = read_csv('./data/weather.csv')
incheon_wether = read_csv('./data/incheon_weather.csv')
#korea_pow = read_csv('./data/korea_pow.csv', encoding='CP949')
korea_pow = read_csv('./data/korea_pow.csv', encoding='CP949')

In [18]:
#print(korea_dust)
print(incheon_dust)
#print(wether)

korea_pow["YMDH"] = korea_pow["거래일"] +korea_pow["시간"].astype(str).str.zfill(2)

       Unnamed: 0  지점_x 지점명_x        YMDH  기온(°C)_x  강수량(mm)_x  풍속(m/s)_x  \
0               0   112    인천  2014010100       3.9        0.0        3.9
1               1   112    인천  2014010101       3.5        0.0        4.1
2               2   112    인천  2014010102       3.1        0.0        3.6
3               3   112    인천  2014010103       2.7        0.0        4.1
4               4   112    인천  2014010104       2.9        0.0        3.4
...           ...   ...   ...         ...       ...        ...        ...
61363       61363   112    인천  2020123119      -6.9        0.0        1.1
61364       61364   112    인천  2020123120      -7.2        0.0        0.3
61365       61365   112    인천  2020123121      -6.8        0.0        0.7
61366       61366   112    인천  2020123122      -6.3        0.0        3.7
61367       61367   112    인천  2020123123      -6.8        0.0        3.4

       풍향(16방위)_x  습도(%)_x  증기압(hPa)_x  ...  적설(cm)_y  3시간신적설(cm)_y  \
0           320.0     76.0         6.1  ...       0.0           0.0
1           320.0     71.0         5.6  ...       0.0           0.0
2           320.0     65.0         5.0  ...       0.0           0.0
3           290.0     70.0         5.2  ...       0.0           0.0
4           290.0     65.0         4.9  ...       0.0           0.0
...           ...      ...         ...  ...       ...           ...
61363       290.0     59.0         2.2  ...       0.0           0.0
61364         0.0     58.0         2.1  ...       0.0           0.0
61365       360.0     63.0         2.3  ...       0.0           0.0
61366       360.0     60.0         2.3  ...       0.0           0.0
61367        20.0     62.0         2.3  ...       0.0           0.0

       전운량(10분위)_y  중하층운량(10분위)_y  운형(운형약어)_y  최저운고(100m )_y  시정(10m)_y  \
0              0.0            0.0           0            0.0      600.0
1              0.0            0.0           0            0.0        0.0
2              0.0            0.0           0            0.0        0.0
3              0.0            0.0           0            0.0      800.0
4              0.0            0.0           0            0.0     1200.0
...            ...            ...         ...            ...        ...
61363          0.0            0.0           0            0.0     1673.0
61364          0.0            0.0           0            0.0     2000.0
61365          0.0            0.0           0            0.0     2000.0
61366          0.0            0.0           0            0.0     2000.0
61367          0.0            0.0           0            0.0     1887.0

       지면상태(지면상태코드)_y  지면온도(°C)_y 5cm 지중온도(°C)_y
0                 0.0         0.4            0.3
1                 0.0         0.3            0.3
2                 0.0         0.1            0.2
3                 1.0         0.1            0.2
4                 0.0         0.1            0.3
...               ...         ...            ...
61363             0.0        -7.3           -0.5
61364             0.0        -7.9           -0.7
61365             0.0        -7.6           -0.8
61366             0.0        -7.8           -1.0
61367             0.0        -8.2           -1.0

[61368 rows x 52 columns]

In [19]:
korea_pow['YMDH'] = korea_pow['YMDH'].str.replace('-', '', regex=False)

In [20]:
korea_pow['month'] = korea_pow['YMDH'].str.slice(start=4, stop=6)
korea_pow['fullday'] = korea_pow['YMDH'].str.slice(start=0, stop=-2)
korea_pow['month'] = korea_pow['month'].astype('int')
korea_pow['season'] = "winter"
korea_pow['year'] = korea_pow['YMDH'].str.slice(start=0, stop=4)

korea_pow.loc[(korea_pow['month'] >=3) & (korea_pow['month'] <=5),'season'] = 'spring'
korea_pow.loc[(korea_pow['month'] >=6) & (korea_pow['month'] <=8),'season'] = 'summer'
korea_pow.loc[(korea_pow['month'] >=9) & (korea_pow['month'] <=11),'season'] = 'autumn'

In [21]:

wether['일시'] = wether['일시'].str.replace('-', '', regex=False)
wether['일시'] = wether['일시'].str.replace(':00', '', regex=False)
wether['일시'] = wether['일시'].str.replace(' ', '', regex=False)

incheon_wether['일시'] = incheon_wether['일시'].str.replace('-', '', regex=False)
incheon_wether['일시'] = incheon_wether['일시'].str.replace(':00', '', regex=False)
incheon_wether['일시'] = incheon_wether['일시'].str.replace(' ', '', regex=False)

KeyError: '일시'

In [22]:
wether = wether.rename(columns={"일시": "YMDH"})

incheon_wether = incheon_wether.rename(columns={"일시": "YMDH"})

incheon_dust = incheon_wether.rename(columns={"측정일시": "YMDH"})
kangil_dust = incheon_wether.rename(columns={"측정일시": "YMDH"})
kangdong_dust = incheon_wether.rename(columns={"측정일시": "YMDH"})


#부산 서울 제주 인천

In [24]:
wether

,����,������,�Ͻ�,���(��C),������(mm),������ QC�÷���,ǳ��(m/s),ǳ��(16����),����(%),�����(hPa),...,����(�������),�������(100m ),����(10m),�������(��������ڵ�),�����ȣ(������),����µ�(��C),5cm ���߿µ�(��C),10cm ���߿µ�(��C),20cm ���߿µ�(��C),30cm ���߿µ�(��C)
0,108,����,2014-01-01 00:00,3.3,NaN,NaN,3.8,250.0,65.0,5.0,...,Sc,10.0,600.0,NaN,40.0,0.0,0.1,-0.2,0.0,1.5
1,108,����,2014-01-01 01:00,2.6,NaN,NaN,2.3,250.0,66.0,4.9,...,NaN,NaN,NaN,NaN,40.0,-0.1,0.1,-0.2,0.1,1.5
2,108,����,2014-01-01 02:00,1.7,NaN,NaN,1.7,250.0,67.0,4.6,...,NaN,NaN,NaN,NaN,40.0,-0.3,0.0,-0.2,0.0,1.5
3,108,����,2014-01-01 03:00,1.4,NaN,NaN,1.4,250.0,60.0,4.1,...,NaN,NaN,600.0,4.0,4240.0,-0.4,0.0,-0.2,0.1,1.5
4,108,����,2014-01-01 04:00,0.9,NaN,NaN,2.8,270.0,59.0,3.8,...,NaN,NaN,600.0,NaN,42.0,-0.6,0.0,-0.2,0.0,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230775,184,����,2020-07-31 19:00,27.4,NaN,NaN,1.5,20.0,86.0,31.3,...,NaN,67.0,1975.0,NaN,NaN,29.3,29.3,30.8,29.3,27.7
230776,184,����,2020-07-31 20:00,26.6,NaN,NaN,0.6,270.0,91.0,31.7,...,NaN,67.0,1653.0,NaN,NaN,28.2,29.1,30.3,29.3,27.8
230777,184,����,2020-07-31 21:00,26.3,NaN,NaN,1.2,20.0,92.0,31.3,...,Ci,NaN,1791.0,NaN,NaN,27.5,28.9,30.0,29.3,27.8
230778,184,����,2020-07-31 22:00,26.9,NaN,NaN,1.3,50.0,85.0,30.0,...,NaN,NaN,2000.0,NaN,NaN,26.9,28.7,29.7,29.2,27.9
230779,184,����,2020-07-31 23:00,27.3,NaN,NaN,0.3,0.0,79.0,28.6,...,NaN,72.0,2000.0,NaN,NaN,26.6,28.4,29.3,29.1,28.0

In [9]:
seoul_pow = korea_pow.loc[korea_pow['지역세부구분']=='서울시', :]
#korea_pow.loc[korea_pow['지역세부구분']=='강원도', :]
pusan_pow = korea_pow.loc[korea_pow['지역세부구분']=='경상남도', :]
jeju_pow = korea_pow.loc[korea_pow['지역세부구분']=='제주도', :]

In [10]:
seoul_weather = wether.loc[wether['지점명']=='서울', :]
pusan_weather = wether.loc[wether['지점명']=='부산', :]
jeju_weather = wether.loc[wether['지점명']=='제주', :]

In [11]:
jeju_weather.shape

(57694, 29)

In [12]:
seoul_dataset = seoul_pow.merge(seoul_weather, how='left', on='YMDH')
pusan_dataset = pusan_pow.merge(pusan_weather, how='left', on='YMDH')
jeju_dataset = jeju_pow.merge(jeju_weather, how='left', on='YMDH')

In [13]:
seoul_dataset

,연료원,지역세부구분,거래일,시간,전력거래량,YMDH,month,fullday,season,year,...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,태양광,서울시,2014-01-01,1,0.000000,2014010101,1,20140101,winter,2014,...,NaN,NaN,NaN,NaN,40.0,-0.1,0.1,-0.2,0.1,1.5
1,태양광,서울시,2014-01-01,2,0.000000,2014010102,1,20140101,winter,2014,...,NaN,NaN,NaN,NaN,40.0,-0.3,0.0,-0.2,0.0,1.5
2,태양광,서울시,2014-01-01,3,0.000000,2014010103,1,20140101,winter,2014,...,NaN,NaN,600.0,4.0,4240.0,-0.4,0.0,-0.2,0.1,1.5
3,태양광,서울시,2014-01-01,4,0.000000,2014010104,1,20140101,winter,2014,...,NaN,NaN,600.0,NaN,42.0,-0.6,0.0,-0.2,0.0,1.5
4,태양광,서울시,2014-01-01,5,0.000000,2014010105,1,20140101,winter,2014,...,NaN,NaN,800.0,NaN,42.0,-0.7,0.0,-0.2,0.1,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57691,태양광,서울시,2020-07-31,20,0.061932,2020073120,7,20200731,summer,2020,...,NaN,5.0,1909.0,NaN,NaN,25.7,27.6,26.9,26.2,25.5
57692,태양광,서울시,2020-07-31,21,0.000000,2020073121,7,20200731,summer,2020,...,Sc,6.0,1519.0,NaN,NaN,25.3,27.3,26.8,26.2,25.5
57693,태양광,서울시,2020-07-31,22,0.000000,2020073122,7,20200731,summer,2020,...,NaN,4.0,1381.0,NaN,NaN,25.4,27.1,26.6,26.1,25.6
57694,태양광,서울시,2020-07-31,23,0.000000,2020073123,7,20200731,summer,2020,...,Sc,4.0,852.0,NaN,1901.0,25.3,26.9,26.4,26.1,25.6
57695,태양광,서울시,2020-07-31,0,0.000000,2020073100,7,20200731,summer,2020,...,ScCi,12.0,1656.0,NaN,NaN,23.4,25.7,25.5,25.6,25.2

In [14]:
seoul_weather

,지점,지점명,YMDH,기온(°C),강수량(mm),강수량 QC플래그,풍속(m/s),풍향(16방위),습도(%),증기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2014010100,3.3,NaN,NaN,3.8,250.0,65.0,5.0,...,Sc,10.0,600.0,NaN,40.0,0.0,0.1,-0.2,0.0,1.5
1,108,서울,2014010101,2.6,NaN,NaN,2.3,250.0,66.0,4.9,...,NaN,NaN,NaN,NaN,40.0,-0.1,0.1,-0.2,0.1,1.5
2,108,서울,2014010102,1.7,NaN,NaN,1.7,250.0,67.0,4.6,...,NaN,NaN,NaN,NaN,40.0,-0.3,0.0,-0.2,0.0,1.5
3,108,서울,2014010103,1.4,NaN,NaN,1.4,250.0,60.0,4.1,...,NaN,NaN,600.0,4.0,4240.0,-0.4,0.0,-0.2,0.1,1.5
4,108,서울,2014010104,0.9,NaN,NaN,2.8,270.0,59.0,3.8,...,NaN,NaN,600.0,NaN,42.0,-0.6,0.0,-0.2,0.0,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215439,108,서울,2020073119,27.4,NaN,9.0,1.8,230.0,82.0,29.8,...,NaN,5.0,1995.0,NaN,NaN,26.6,27.9,27.1,26.2,25.4
215440,108,서울,2020073120,27.0,NaN,9.0,2.8,250.0,83.0,29.5,...,NaN,5.0,1909.0,NaN,NaN,25.7,27.6,26.9,26.2,25.5
215441,108,서울,2020073121,26.7,NaN,9.0,2.2,270.0,86.0,30.0,...,Sc,6.0,1519.0,NaN,NaN,25.3,27.3,26.8,26.2,25.5
215442,108,서울,2020073122,26.5,NaN,9.0,1.8,250.0,87.0,30.0,...,NaN,4.0,1381.0,NaN,NaN,25.4,27.1,26.6,26.1,25.6
215443,108,서울,2020073123,26.2,0.2,NaN,2.4,200.0,90.0,30.6,...,Sc,4.0,852.0,NaN,1901.0,25.3,26.9,26.4,26.1,25.6

In [15]:
korea_dust['YMDH'] = korea_dust['YMDH'].astype(str)
korea_dust['fullday'] = korea_dust['YMDH'].str.slice(start=0, stop=-2)
korea_dust['month'] = korea_dust['YMDH'].str.slice(start=4, stop=6)

korea_dust['month'] = korea_dust['month'].astype('int')
korea_dust['season'] = "winter"
korea_dust['year'] = korea_dust['YMDH'].str.slice(start=0, stop=4)

korea_dust.loc[(korea_dust['month'] >=3) & (korea_dust['month'] <=5),'season'] = 'spring'
korea_dust.loc[(korea_dust['month'] >=6) & (korea_dust['month'] <=8),'season'] = 'summer'
korea_dust.loc[(korea_dust['month'] >=9) & (korea_dust['month'] <=11),'season'] = 'autumn'




#kangdong_dust = read_csv('./data/kangdong_dust.csv', encoding='CP949')

kangdong_dust['YMDH'] = kangdong_dust['YMDH'].astype(str)
kangdong_dust['fullday'] = kangdong_dust['YMDH'].str.slice(start=0, stop=-2)
kangdong_dust['month'] = kangdong_dust['YMDH'].str.slice(start=4, stop=6)

kangdong_dust['month'] = kangdong_dust['month'].astype('int')
kangdong_dust['season'] = "winter"
kangdong_dust['year'] = kangdong_dust['YMDH'].str.slice(start=0, stop=4)

kangdong_dust.loc[(kangdong_dust['month'] >=3) & (kangdong_dust['month'] <=5),'season'] = 'spring'
kangdong_dust.loc[(kangdong_dust['month'] >=6) & (kangdong_dust['month'] <=8),'season'] = 'summer'
kangdong_dust.loc[(kangdong_dust['month'] >=9) & (kangdong_dust['month'] <=11),'season'] = 'autumn'

#incheon_dust = read_csv('./data/incheon_dust.csv', encoding='CP949')

incheon_dust['YMDH'] = incheon_dust['YMDH'].astype(str)
incheon_dust['fullday'] = incheon_dust['YMDH'].str.slice(start=0, stop=-2)
incheon_dust['month'] = incheon_dust['YMDH'].str.slice(start=4, stop=6)

incheon_dust['month'] = incheon_dust['month'].astype('int')
incheon_dust['season'] = "winter"
incheon_dust['year'] = incheon_dust['YMDH'].str.slice(start=0, stop=4)

incheon_dust.loc[(incheon_dust['month'] >=3) & (incheon_dust['month'] <=5),'season'] = 'spring'
incheon_dust.loc[(incheon_dust['month'] >=6) & (incheon_dust['month'] <=8),'season'] = 'summer'
incheon_dust.loc[(incheon_dust['month'] >=9) & (incheon_dust['month'] <=11),'season'] = 'autumn'


#kangil_dust = read_csv('./data/kangil_dust.csv', encoding='CP949')

kangil_dust['YMDH'] = kangil_dust['YMDH'].astype(str)
kangil_dust['fullday'] = kangil_dust['YMDH'].str.slice(start=0, stop=-2)
kangil_dust['month'] = kangil_dust['YMDH'].str.slice(start=4, stop=6)

kangil_dust['month'] = kangil_dust['month'].astype('int')
kangil_dust['season'] = "winter"
kangil_dust['year'] = kangil_dust['YMDH'].str.slice(start=0, stop=4)

kangil_dust.loc[(kangil_dust['month'] >=3) & (kangil_dust['month'] <=5),'season'] = 'spring'
kangil_dust.loc[(kangil_dust['month'] >=6) & (kangil_dust['month'] <=8),'season'] = 'summer'
kangil_dust.loc[(kangil_dust['month'] >=9) & (kangil_dust['month'] <=11),'season'] = 'autumn'

In [16]:
kor_dust_dataset = korea_dust.merge(seoul_weather, how='left', on='YMDH')
kangil_dust_dataset = kangil_dust.merge(seoul_weather, how='left', on='YMDH')
kangdong_dust_dataset = kangdong_dust.merge(seoul_weather, how='left', on='YMDH')

incheon_dust_dataset = incheon_dust.merge(incheon_wether, how='left', on='YMDH')

In [7]:

seoul_dataset = seoul_dataset.fillna(0)
pusan_dataset = pusan_dataset.fillna(0)
jeju_dataset = jeju_dataset.fillna(0)
kor_dust_dataset = kor_dust_dataset.fillna(0)

kangil_dust_dataset = kangil_dust_dataset.fillna(0)
kangdong_dust_dataset = kangdong_dust_dataset.fillna(0)
incheon_dust_dataset = incheon_dust_dataset.fillna(0)



seoul_dataset.to_csv('./data/seoul_pow.csv')
pusan_dataset.to_csv('./data/pusan_pow.csv')
jeju_dataset.to_csv('./data/jeju_pow.csv')
kor_dust_dataset.to_csv('./data/kor_dust.csv')

kangil_dust_dataset.to_csv('./data/kangil_dust.csv')
kangdong_dust_dataset.to_csv('./data/kangdong_dust.csv')
incheon_dust_dataset.to_csv('./data/incheon_dust.csv')

NameError: name 'seoul_dataset' is not defined

In [18]:
jeju_dataset = read_csv('./data/jeju_pow.csv')
jeju_dataset

,Unnamed: 0,연료원,지역세부구분,거래일,시간,전력거래량,YMDH,month,fullday,season,...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,0,태양광,제주도,2014-01-01,1,0.000000,2014010101,1,20140101,winter,...,0,0.0,0.0,0.0,0.0,6.5,7.7,7.6,8.4,8.7
1,1,태양광,제주도,2014-01-01,2,0.000000,2014010102,1,20140101,winter,...,0,0.0,0.0,0.0,0.0,6.5,7.7,7.6,8.3,8.8
2,2,태양광,제주도,2014-01-01,3,0.000000,2014010103,1,20140101,winter,...,0,0.0,1500.0,0.0,0.0,5.7,7.7,7.5,8.3,8.7
3,3,태양광,제주도,2014-01-01,4,0.000000,2014010104,1,20140101,winter,...,0,0.0,1200.0,0.0,42.0,5.5,7.5,7.5,8.3,8.8
4,4,태양광,제주도,2014-01-01,5,0.000000,2014010105,1,20140101,winter,...,Sc,10.0,1200.0,0.0,42.0,5.7,7.4,7.4,8.3,8.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57691,57691,태양광,제주도,2020-07-31,20,10.137453,2020073120,7,20200731,summer,...,0,67.0,1653.0,0.0,0.0,28.2,29.1,30.3,29.3,27.8
57692,57692,태양광,제주도,2020-07-31,21,7.378050,2020073121,7,20200731,summer,...,Ci,0.0,1791.0,0.0,0.0,27.5,28.9,30.0,29.3,27.8
57693,57693,태양광,제주도,2020-07-31,22,2.683048,2020073122,7,20200731,summer,...,0,0.0,2000.0,0.0,0.0,26.9,28.7,29.7,29.2,27.9
57694,57694,태양광,제주도,2020-07-31,23,0.376994,2020073123,7,20200731,summer,...,0,72.0,2000.0,0.0,0.0,26.6,28.4,29.3,29.1,28.0
57695,57695,태양광,제주도,2020-07-31,0,0.143784,2020073100,7,20200731,summer,...,Ci,0.0,1599.0,0.0,0.0,26.2,28.1,29.0,28.7,27.7

In [19]:
#seoul_dataset.to_csv('seoul_pow.csv')
#pusan_dataset.to_csv('pusan_pow.csv')
#jeju_dataset.to_csv('jeju_pow.csv')
#kor_dust_dataset.to_csv('kor_dust.csv')
pd.set_option('display.max_columns', 500)

In [6]:
def f(x):
    tmpdict = dict()
    columns = x.columns
    for CL in columns:
        #print(x[CL].dtype)
        if x[CL].dtype=='object':
            x[CL] = x[CL].apply(str)
            tmpdict[CL] = x[CL].max()
        else:
            tmpdict[CL] = x[CL].max()
    #print(tmpdict)
    
    return pd.Series(tmpdict)

seoul_dataset_day_df = seoul_dataset.groupby(by=["fullday"], dropna=False).apply(f)
pusan_dataset_day_df = pusan_dataset.groupby(by=["fullday"], dropna=False).apply(f)
jeju_dataset_day_df = jeju_dataset.groupby(by=["fullday"], dropna=False).apply(f)
kor_dust_dataset_day_df = kor_dust_dataset.groupby(by=["fullday"], dropna=False).apply(f)

kangil_dust_dataset_day_df = kangil_dust_dataset.groupby(by=["fullday"], dropna=False).apply(f)
kangdong_dust_dataset_day_df = kangdong_dust_dataset.groupby(by=["fullday"], dropna=False).apply(f)
incheon_dust_dataset_day_df = incheon_dust_dataset.groupby(by=["fullday"], dropna=False).apply(f)

NameError: name 'seoul_dataset' is not defined

In [21]:
seoul_dataset_day_df

,연료원,지역세부구분,거래일,시간,전력거래량,YMDH,month,fullday,season,year,지점,지점명,기온(°C),강수량(mm),강수량 QC플래그,풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
fullday,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
20140101,태양광,서울시,2014-01-01,11.5,0.701588,2014010123,1.0,20140101,winter,2014,108.0,서울,4.008333,0.000000,4.875,3.716667,252.500000,54.958333,4.466667,-4.445833,1003.166667,1013.770833,0.266667,0.257083,0.0,0.0,1.833333,1.750000,ScCi,4.666667,808.333333,0.416667,197.208333,0.383333,0.233333,-0.175000,0.145833,1.550000
20140102,태양광,서울시,2014-01-02,11.5,0.964047,2014010223,1.0,20140102,winter,2014,108.0,서울,1.875000,0.000000,0.375,2.045833,271.666667,35.041667,2.362500,-12.695833,1010.362500,1021.129167,0.375000,0.382500,0.0,0.0,0.125000,0.000000,Ci,0.000000,1270.833333,0.541667,1.666667,0.070833,0.158333,-0.162500,0.325000,1.595833
20140103,태양광,서울시,2014-01-03,11.5,0.445451,2014010323,1.0,20140103,winter,2014,108.0,서울,2.291667,0.000000,0.750,2.508333,155.833333,52.666667,3.887500,-6.662500,1007.079167,1017.808333,0.112500,0.195417,0.0,0.0,4.583333,1.708333,Sc,2.083333,1012.500000,0.541667,8.333333,0.079167,0.125000,-0.120833,0.483333,1.670833
20140104,태양광,서울시,2014-01-04,11.5,0.807726,2014010423,1.0,20140104,winter,2014,108.0,서울,0.145833,0.000000,0.000,2.520833,278.333333,48.208333,2.958333,-9.762500,1008.570833,1019.391667,0.362500,0.339167,0.0,0.0,0.166667,0.125000,Sc,1.250000,1058.333333,0.541667,8.333333,-0.191667,0.054167,-0.058333,0.600000,1.704167
20140105,태양광,서울시,2014-01-05,11.5,0.665879,2014010523,1.0,20140105,winter,2014,108.0,서울,-0.845833,0.000000,0.000,1.987500,268.333333,47.958333,2.670833,-10.937500,1012.658333,1023.579167,0.333333,0.295000,0.0,0.0,1.958333,1.583333,ScAc,10.125000,1112.500000,0.541667,0.000000,-0.662500,-0.145833,-0.108333,0.600000,1.737500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20200727,태양광,서울시,2020-07-27,11.5,1.056816,2020072723,7.0,20200727,summer,2020,108.0,서울,24.283333,0.091667,1.125,2.170833,53.333333,85.875000,25.954167,21.687500,998.575000,1008.291667,0.000000,0.321667,0.0,0.0,9.958333,6.208333,StNs,9.583333,1791.416667,0.000000,159.125000,24.841667,25.466667,24.762500,24.408333,24.258333
20200728,태양광,서울시,2020-07-28,11.5,1.042171,2020072823,7.0,20200728,summer,2020,108.0,서울,24.308333,0.016667,1.500,2.070833,56.250000,84.458333,25.537500,21.416667,1000.304167,1010.037500,0.000000,0.349167,0.0,0.0,9.666667,5.666667,StNs,8.916667,1905.250000,0.000000,158.875000,24.900000,25.337500,24.658333,24.354167,24.275000
20200729,태양광,서울시,2020-07-29,11.5,0.505679,2020072923,7.0,20200729,summer,2020,108.0,서울,23.637500,2.083333,1.125,2.004167,92.916667,95.416667,27.775000,22.800000,1001.854167,1011.612500,0.000000,0.132500,0.0,0.0,10.000000,7.083333,StNs,5.166667,1316.291667,0.000000,714.166667,23.945833,24.645833,24.075000,24.008333,24.158333
20200730,태양광,서울시,2020-07-30,11.5,1.664521,2020073023,7.0,20200730,summer,2020,108.0,서울,25.445833,0.008333,6.000,2.058333,196.666667,86.041667,27.741667,22.766667,1003.262500,1012.979167,0.125000,0.639167,0.0,0.0,8.375000,5.000000,St,6.916667,1061.208333,0.000000,639.208333,26.879167,26.345833,25.395833,24.633333,24.345833
20200731,태양광,서울시,2020-07-31,11.5,1.734067,2020073123,7.0,20200731,summer,2020,108.0,서울,26.150000,0.020833,1.875,1.916667,203.750000,81.416667,27.487500,22.595833,1004.066667,1013.775000,0.208333,0.604167,0.0,0.0,6.583333,5.375000,ScCi,6.083333,1288.583333,0.000000,420.333333,27.029167,26.745833,25.987500,25.404167,25.070833

In [22]:
seoul_dataset

,연료원,지역세부구분,거래일,시간,전력거래량,YMDH,month,fullday,season,year,지점,지점명,기온(°C),강수량(mm),강수량 QC플래그,풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일사(MJ/m2),적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,태양광,서울시,2014-01-01,1,0.000000,2014010101,1,20140101,winter,2014,108,서울,2.6,0.0,0.0,2.3,250.0,66.0,4.9,-3.1,1002.2,1012.9,0.0,0.00,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,40.0,-0.1,0.1,-0.2,0.1,1.5
1,태양광,서울시,2014-01-01,2,0.000000,2014010102,1,20140101,winter,2014,108,서울,1.7,0.0,0.0,1.7,250.0,67.0,4.6,-3.7,1002.4,1013.1,0.0,0.00,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,40.0,-0.3,0.0,-0.2,0.0,1.5
2,태양광,서울시,2014-01-01,3,0.000000,2014010103,1,20140101,winter,2014,108,서울,1.4,0.0,0.0,1.4,250.0,60.0,4.1,-5.5,1002.2,1012.9,0.0,0.00,0.0,0.0,0.0,0.0,0,0.0,600.0,4.0,4240.0,-0.4,0.0,-0.2,0.1,1.5
3,태양광,서울시,2014-01-01,4,0.000000,2014010104,1,20140101,winter,2014,108,서울,0.9,0.0,0.0,2.8,270.0,59.0,3.8,-6.2,1002.5,1013.2,0.0,0.00,0.0,0.0,0.0,0.0,0,0.0,600.0,0.0,42.0,-0.6,0.0,-0.2,0.0,1.5
4,태양광,서울시,2014-01-01,5,0.000000,2014010105,1,20140101,winter,2014,108,서울,0.6,0.0,0.0,2.0,270.0,56.0,3.6,-7.1,1002.1,1012.8,0.0,0.00,0.0,0.0,0.0,0.0,0,0.0,800.0,0.0,42.0,-0.7,0.0,-0.2,0.1,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57691,태양광,서울시,2020-07-31,20,0.061932,2020073120,7,20200731,summer,2020,108,서울,27.0,0.0,9.0,2.8,250.0,83.0,29.5,23.8,1002.8,1012.5,0.0,0.09,0.0,0.0,9.0,8.0,0,5.0,1909.0,0.0,0.0,25.7,27.6,26.9,26.2,25.5
57692,태양광,서울시,2020-07-31,21,0.000000,2020073121,7,20200731,summer,2020,108,서울,26.7,0.0,9.0,2.2,270.0,86.0,30.0,24.1,1003.0,1012.7,0.0,0.00,0.0,0.0,7.0,7.0,Sc,6.0,1519.0,0.0,0.0,25.3,27.3,26.8,26.2,25.5
57693,태양광,서울시,2020-07-31,22,0.000000,2020073122,7,20200731,summer,2020,108,서울,26.5,0.0,9.0,1.8,250.0,87.0,30.0,24.1,1003.1,1012.8,0.0,0.00,0.0,0.0,5.0,5.0,0,4.0,1381.0,0.0,0.0,25.4,27.1,26.6,26.1,25.6
57694,태양광,서울시,2020-07-31,23,0.000000,2020073123,7,20200731,summer,2020,108,서울,26.2,0.2,0.0,2.4,200.0,90.0,30.6,24.4,1003.1,1012.8,0.0,0.00,0.0,0.0,8.0,8.0,Sc,4.0,852.0,0.0,1901.0,25.3,26.9,26.4,26.1,25.6
57695,태양광,서울시,2020-07-31,0,0.000000,2020073100,7,20200731,summer,2020,108,서울,23.4,0.0,9.0,1.0,270.0,86.0,24.7,20.9,1004.5,1014.3,0.0,0.00,0.0,0.0,9.0,2.0,ScCi,12.0,1656.0,0.0,0.0,23.4,25.7,25.5,25.6,25.2

In [23]:
seoul_dataset_day_df.to_csv('./data/seoul_pow_day.csv')
pusan_dataset_day_df.to_csv('./data/pusan_pow_day.csv')
jeju_dataset_day_df.to_csv('./data/jeju_pow_day.csv')
kor_dust_dataset_day_df.to_csv('./data/kor_dust_day.csv')

kangil_dust_dataset_day_df.to_csv('./data/kangil_dust_day.csv')
kangdong_dust_dataset_day_df.to_csv('./data/kangdong_dust_day.csv')
incheon_dust_dataset_day_df.to_csv('./data/incheon_dust_day.csv')